* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #0a192f;
  counter-reset: section;
  counter-reset: my-sec-counter;
}
.number li {
  color: #bcc9ee;
  display: inline;
  margin: 1rem;
  width: auto;
  padding-bottom: 1rem;
  font-size: 1rem;
}
.number li:hover {
  color: #64ffda;
}
.number li::before{
    position: relative;
    counter-increment: my-sec-counter;
    content: "0" counter(my-sec-counter) ". ";
    color: #64ffda;
    box-sizing: inherit;
    margin-right: 0.2rem;
}
nav.intro {
  margin: 8rem;
  margin-right: 8rem;
  margin-top: 3.5rem;
}
p#namepara {
  font-size: 1.3rem;
  color: #64ffda;
}
.intro h2 {
  font-size: 4.3rem;
  font-weight: 200;
  color: #bcc9ee;
}
.intro h3 {
  font-size: 4rem;
  font-weight: 100;
  color: #8892b0;
}
.intro p {
  font-size: 1.2rem;
  font-weight: 100;
  color: #8892b0;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.Montserrat {
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  font-weight: 700;
}
.source-code-pro {
  font-family: "Montserrat", monospace;
  font-style: normal;
}
nav.list {
  margin: 2rem;
  font-family: "Montserrat", monospace;
  margin-left: 42rem;
}
#resumebtn {
  margin: auto;
  border-radius: 5px;
  padding: 11.5px;
  background-color: transparent;
  border-color: #64ffda;
  color: #64ffda;
  border-width: 0.4px;
  font-family: "Kanit", sans-serif;
}
#resumebtn:hover {
  background-color: #64ffdb38;
}
.checkbtn {
  margin: auto;
  border-radius: 6px;
  padding: 1rem;
  background-color: #0a192f;
  border-color: #64ffda;
  color: #64ffda;
  border-width: 0.5px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.checkbtn:hover {
  background-color: #64ffdb38;
}

nav.bout1 {
  margin: 13rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
h1#bout {
  position: relative;
  font-size: 2rem;
  color: #8892b0;
  text-indent: 1rem;
}
h1::before {
  position: relative;
  counter-increment: section 1;
  content: "0" counter(section) ".";
  color: #64ffda;
  box-sizing: inherit;
  margin-right: 2rem;
}
#bout::after {
  content: "";
  display: block;
  position: relative;
  bottom: 1rem;
  width: 300px;
  height: 1px;
  left: 16rem;
  background-color: #8892b0;
}
#box {
  position: relative;
  background-color: transparent;
  border: 4px solid #64ffda;
  float: right;
  width: 15rem;
  height: 18rem;
  border-radius: 0.5rem;
  top: 3rem;  
}
.profileimg {
    position: relative;
  float: right;
  width: 15rem;
  border-radius: 0.5rem;
  height: 18rem;
  bottom: 1.5rem;
  right: 1.5rem;
  color: #64ffdb56;
  opacity: 10px;
}   
.boot_content {
  position: relative;
  margin: 1rem;
  line-height: 1.5rem;
  color: #8892b0;
}
.skills_list {
  position: relative;
  left: 1rem;
  color: #8892b0;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  overflow: hidden;
  list-style: none;
}
.skills_list li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-left: 2rem;
}
.skills_list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  line-height: 12px;   
  box-sizing: inherit;  
  color: #64ffda;
}
.work {
    position: relative;
    margin: 20rem;
     margin-right: 10rem;
    font-family: "Montserrat", sans-serif;
}
#work {
  color: #8892b0;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;

}
#work::after{
    content: "";
    display: block;
    position: relative;
    bottom: 1rem;
    width: 300px;
    height: 1px;
    left: 24rem;
    background-color: #8892b0;
}
.WorkBtns{
    position: relative;
    display: inline;  
    cursor: pointer;
}
.WorkBtn1{
    position: relative;
    border: 1px solid #0a192f;
    width: 150px;
    height: 50px;
    background-color: #0a192f;
    color: #8892b0;
    top: 2rem;
    border-left:2px solid #8892b0;
    cursor: pointer;
}
.WorkBtn1:hover{
    background-color: #0d7c7c63;
}
.WorkBtn2{
    position: relative;
    border: 1px solid #0a192f;
    width: 150px;
    height: 50px;
    background-color: #0a192f;
    color: #8892b0;
    border-left:2px solid #8892b0; 
    top: 1.8rem; 
    cursor: pointer;
}
.WorkBtn2:hover{
    background-color: #0d7c7c63;
}
.dropdown-menu{ 
    position: relative;
    margin-left: 20rem;
    bottom: unset;
    top: -10px;
    width: 500px;
    background-color: transparent;
}
